/* Grouping Selectors */
h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

body {
    color: hotpink;
}

div {
    color: teal;
}

.special {
    color: blue;
}